# App
APP_ENV=production
APP_PORT=8089
API_VERSION=v1

# Postgres
DB_HOST=postgres_db
DB_PORT=5432
DB_USER=OVNICORE_ROOT_Ñ
DB_PASSWORD=Fy9^*2VTZ8s!R3skpy&MYwmxzT75Sio#j8!
DB_NAME=ticketing_db
DB_SCHEMA=ticketing_schema

# JWT (HS256)
JWT_SECRET_KEY=change-me-super-secret-key-production-ticketing

# CORS
CORS_ALLOW_ORIGINS=https://ticketing.goaccess.com.ar

# SuperAdmin inicial
SUPERADMIN_EMAIL=admin@ovnicore.com
SUPERADMIN_PASSWORD=changeme123
