# App
APP_ENV=development
APP_PORT=8888
API_VERSION=v1

# Postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ticketing_backoffice
DB_SCHEMA=public

# JWT (HS256)
JWT_SECRET_KEY=change-me-super-secret-key

# CORS
CORS_ALLOW_ORIGINS=http://localhost:3000

# SuperAdmin inicial
SUPERADMIN_EMAIL=admin@ovnicore.com
SUPERADMIN_PASSWORD=changeme123
